{% extends 'base.html.twig' %}

{% block title %}Tutu{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<select name="paragraphe" id="paragraphe-select" onchange="window.location.href=this.value">
<option>Choisir un paragraphe</option>
{% for key, label in paragraphes %}
<option value="{{ path('admin_name_section', {'name':key}) }}">{{ label }}</option>
{% endfor %}
</select> 



{% endblock %}